# 1. Загрузка и подготовка данных

In [1]:
#вызов библиотеки Pandas
import pandas as pd
# импорт структуры для стандартизации данных
from sklearn.preprocessing import StandardScaler

In [2]:
# исследование данных 1 региона
data_region1 = pd.read_csv('/datasets/geo_data_0.csv')
# исследование данных 2 региона
data_region2 = pd.read_csv('/datasets/geo_data_1.csv')
# исследование данных 3 региона
data_region3 = pd.read_csv('/datasets/geo_data_2.csv')

In [3]:
# Просмотр данных таблицы 1 региона
data_region1.head(5)

      id        f0        f1        f2     product
0  txEyH  0.705745 -0.497823  1.221170  105.280062
1  2acmU  1.334711 -0.340164  4.365080   73.037750
2  409Wp  1.022732  0.151990  1.419926   85.265647
3  iJLyR -0.032172  0.139033  2.978566  168.620776
4  Xdl7t  1.988431  0.155413  4.751769  154.036647

In [4]:
# Просмотр данных таблицы 2 региона
data_region2.head(5)

      id         f0         f1        f2     product
0  kBEdx -15.001348  -8.276000 -0.005876    3.179103
1  62mP7  14.272088  -3.475083  0.999183   26.953261
2  vyE1P   6.263187  -5.948386  5.001160  134.766305
3  KcrkZ -13.081196 -11.506057  4.999415  137.945408
4  AHL4O  12.702195  -8.147433  5.004363  134.766305

In [5]:
# Просмотр данных таблицы 3 региона
data_region3.head(5)

      id        f0        f1        f2     product
0  fwXo0 -1.146987  0.963328 -0.828965   27.758673
1  WJtFt  0.262778  0.269839 -2.530187   56.069697
2  ovLUW  0.194587  0.289035 -5.586433   62.871910
3  q6cA6  2.236060 -0.553760  0.930038  114.572842
4  WPMUX -0.515993  1.716266  5.899011  149.600746

In [6]:
# Исследование общей информации таблиц 3 регионов
data_region1.info()
data_region2.info()
data_region3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
id         100000 non-null object
f0         100000 non-null float64
f1         100000 non-null float64
f2         100000 non-null float64
product    100000 non-null float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
id         100000 non-null object
f0         100000 non-null float64
f1         100000 non-null float64
f2         100000 non-null float64
product    100000 non-null float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
id         100000 non-null object
f0         100000 non-null float64
f1         100000 non-null float64
f2         100000 non-null float64
product    100000 non-null float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [7]:
# проверка на количество пропусков в таблицах 
print(data_region1.isnull().sum())
print(data_region2.isnull().sum())
print(data_region3.isnull().sum())

id         0
f0         0
f1         0
f2         0
product    0
dtype: int64
id         0
f0         0
f1         0
f2         0
product    0
dtype: int64
id         0
f0         0
f1         0
f2         0
product    0
dtype: int64

In [8]:
# проверка на количество дублей в таблицах 
print(data_region1.duplicated().sum())
print(data_region2.duplicated().sum())
print(data_region3.duplicated().sum())

0
0
0

In [9]:
# масштабирование данных всех 3 таблиц
numeric = ['f0','f1','f2']

scaler = StandardScaler()
scaler.fit(data_region1[numeric])
scaler.fit(data_region2[numeric])
scaler.fit(data_region3[numeric])

data_region1[numeric] = scaler.transform(data_region1[numeric])
data_region2[numeric] = scaler.transform(data_region2[numeric])
data_region3[numeric] = scaler.transform(data_region3[numeric])

print(data_region1.head())
print(data_region2.head())
print(data_region3.head())

      id        f0        f1        f2     product
0  txEyH  0.406298 -0.286488 -0.366773  105.280062
1  2acmU  0.769435 -0.195378  0.538360   73.037750
2  409Wp  0.589312  0.089037 -0.309551   85.265647
3  iJLyR -0.019742  0.081549  0.139182  168.620776
4  Xdl7t  1.146863  0.091015  0.649687  154.036647
      id        f0        f1        f2     product
0  kBEdx -8.662273 -4.781484 -0.720039    3.179103
1  62mP7  8.238895 -2.007042 -0.430683   26.953261
2  vyE1P  3.614915 -3.436359  0.721487  134.766305
3  KcrkZ -7.553664 -6.648128  0.720985  137.945408
4  AHL4O  7.332509 -4.707185  0.722409  134.766305
      id        f0        f1        f2     product
0  fwXo0 -0.663387  0.557908 -0.957007   27.758673
1  WJtFt  0.150548  0.157142 -1.446788   56.069697
2  ovLUW  0.111178  0.168235 -2.326682   62.871910
3  q6cA6  1.289833 -0.318815 -0.450590  114.572842
4  WPMUX -0.299079  0.993029  0.979978  149.600746

#### Вывод
1. Каждая таблица из таблиц 3 регионов состоит из:
    + 100000 строк-объектов;
    + 5 колонок-признаков.
2. Во всех 3 таблицах пропуски отсутствуют.
3. Во всех 3 таблицах дублирующие записи отсутствуют.
4. Во всех 3 таблицах числовые данные масштабированы. 
5. Во всех 3 таблицах целевым признаком является - product "Объем запасов в скважине (тыс.барралей)" 
6. Во всех трех таблицах признаками являются:
    + id "уникальный идентификатор скважины";
    + f0, f1, f2 - три признака точек.
7. Целевой признак количественный. Решаем задачу регрессии.

# 2. Обучение и проверка модели

In [10]:
# вызов функции деления выборки
from sklearn.model_selection import train_test_split
# импорт функции оценки правильности
from sklearn.metrics import accuracy_score
# импорт библиотеки numpy
import numpy as np
# импорт функции расчета MSE
from sklearn.metrics import mean_squared_error

In [11]:
# разделим каждые 3 таблицы на отдельные выборки: обучающая и валидационная
Reg1_Train, Reg1_Valid = train_test_split(data_region1, test_size=0.25, random_state=42)
Reg2_Train, Reg2_Valid = train_test_split(data_region2, test_size=0.25, random_state=42)
Reg3_Train, Reg3_Valid = train_test_split(data_region3, test_size=0.25, random_state=42)

In [12]:
# проверка размерности тренировочной и валидационной выборок всех 3 регионов
def sizereg(reg,data,train,valid):
    size_data = len(data.index)
    size_train = len(train.index)
    size_valid = len(valid.index)
    print("Обучающая выборка ",reg," региона : ", size_train*100/size_data)
    print("Валидационная выборка ",reg," региона: ", size_valid*100/size_data)
    return 
sizereg(1,data_region1,Reg1_Train,Reg1_Valid)
sizereg(2,data_region2,Reg2_Train,Reg2_Valid)
sizereg(3,data_region3,Reg3_Train,Reg3_Valid)

Обучающая выборка  1  региона :  75.0
Валидационная выборка  1  региона:  25.0
Обучающая выборка  2  региона :  75.0
Валидационная выборка  2  региона:  25.0
Обучающая выборка  3  региона :  75.0
Валидационная выборка  3  региона:  25.0

In [13]:
# Признаки обучающих выборок 3 регионов
features_Train_Reg1 = Reg1_Train.drop(['product','id'], axis = 1)
features_Train_Reg2 = Reg2_Train.drop(['product','id'], axis = 1)
features_Train_Reg3 = Reg3_Train.drop(['product','id'], axis = 1)

In [14]:
# Целевый признак обучающих выборок 3 регионов
target_Train_Reg1 = Reg1_Train['product']
target_Train_Reg2 = Reg2_Train['product']
target_Train_Reg3 = Reg3_Train['product']

In [15]:
# Вывод на печать размеров признаков обучающих выборках 3 регионов
print(features_Train_Reg1.shape)
print(features_Train_Reg2.shape)
print(features_Train_Reg3.shape)

(75000, 3)
(75000, 3)
(75000, 3)

In [16]:
# Вывод на печать размеров целевого признака обучающих выборках 3 регионов
print(target_Train_Reg1.shape)
print(target_Train_Reg2.shape)
print(target_Train_Reg3.shape)

(75000,)
(75000,)
(75000,)

In [17]:
# Признаки валидационных выборок 3 регионов
features_Valid_Reg1 = Reg1_Valid.drop(['product','id'], axis = 1)
features_Valid_Reg2 = Reg2_Valid.drop(['product','id'], axis = 1)
features_Valid_Reg3 = Reg3_Valid.drop(['product','id'], axis = 1)

In [18]:
# Целевой признак валидационных выборок 3 регионов
target_Valid_Reg1 = Reg1_Valid['product']
target_Valid_Reg2 = Reg2_Valid['product']
target_Valid_Reg3 = Reg3_Valid['product']

In [19]:
# Вывод на печать размеров признаков валидационных выборках 3 регионов
print(features_Valid_Reg1.shape)
print(features_Valid_Reg2.shape)
print(features_Valid_Reg3.shape)

(25000, 3)
(25000, 3)
(25000, 3)

In [20]:
# Вывод на печать размеров целевого признака валидационныхвыборках 3 регионов
print(target_Valid_Reg1.shape)
print(target_Valid_Reg2.shape)
print(target_Valid_Reg3.shape)

(25000,)
(25000,)
(25000,)

#### Исследование модели "Линейная регрессия"

In [21]:
# импорт из библиотеки sklearn структуры данных модели "Линейная регрессия"
from sklearn.linear_model import LinearRegression

In [22]:
# создание модели методом "Линейная регрессия"
model_LR_Reg1 = LinearRegression()
model_LR_Reg2 = LinearRegression()
model_LR_Reg3 = LinearRegression()

In [23]:
# обучение модели на обучающих выборках 3 регионов
model_LR_Reg1.fit(features_Train_Reg1, target_Train_Reg1)
model_LR_Reg2.fit(features_Train_Reg2, target_Train_Reg2)
model_LR_Reg3.fit(features_Train_Reg3, target_Train_Reg3)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
# предсказание модели на валидационных выборках 3 регионов  
valid_predictions_LR_Reg1 = model_LR_Reg1.predict(features_Valid_Reg1)
valid_predictions_LR_Reg2 = model_LR_Reg2.predict(features_Valid_Reg2)
valid_predictions_LR_Reg3 = model_LR_Reg3.predict(features_Valid_Reg3)

In [25]:
# проверка правильности модели валидационных выборках 3 регионов  
accuracy_valid_LR_Reg1 = model_LR_Reg1.score(features_Valid_Reg1, target_Valid_Reg1)
accuracy_valid_LR_Reg2 = model_LR_Reg2.score(features_Valid_Reg2, target_Valid_Reg2)
accuracy_valid_LR_Reg3 = model_LR_Reg3.score(features_Valid_Reg3, target_Valid_Reg3)

print("Правильные ответы валидационной выборки 1 региона: {:.4f}".format(accuracy_valid_LR_Reg1))
print("Правильные ответы валидационной выборки 2 региона: {:.4f}".format(accuracy_valid_LR_Reg2))
print("Правильные ответы валидационной выборки 3 региона: {:.4f}".format(accuracy_valid_LR_Reg3))

Правильные ответы валидационной выборки 1 региона: 0.2728
Правильные ответы валидационной выборки 2 региона: 0.9996
Правильные ответы валидационной выборки 3 региона: 0.1963

In [26]:
# Расчет MSE модели каждого региона
mse_LR_Reg1 = mean_squared_error(target_Valid_Reg1, valid_predictions_LR_Reg1)
mse_LR_Reg2 = mean_squared_error(target_Valid_Reg2, valid_predictions_LR_Reg2)
mse_LR_Reg3 = mean_squared_error(target_Valid_Reg3, valid_predictions_LR_Reg3)

# Расчет среднего запаса предсказанного сырья для 3 регионов
pred_mean_LR_Reg1 = valid_predictions_LR_Reg1.mean()
pred_mean_LR_Reg2 = valid_predictions_LR_Reg2.mean()
pred_mean_LR_Reg3 = valid_predictions_LR_Reg3.mean()

print("Предсказание модели (сред.) для 1 региона: ", pred_mean_LR_Reg1)
print("Предсказание модели (сред.) для 2 региона: ", pred_mean_LR_Reg2)
print("Предсказание модели (сред.) для 3 региона: ", pred_mean_LR_Reg3)

Предсказание модели (сред.) для 1 региона:  92.39879990657768
Предсказание модели (сред.) для 2 региона:  68.71287803913762
Предсказание модели (сред.) для 3 региона:  94.77102387765939

In [27]:
# Расчет среднего запаса фактического сырья для 3 регионов
fact_mean_LR_Reg1 = target_Train_Reg1.mean()
fact_mean_LR_Reg2 = target_Train_Reg2.mean()
fact_mean_LR_Reg3 = target_Train_Reg3.mean()

print("Фактические запасы (сред.) для 1 региона: ", fact_mean_LR_Reg1)
print("Фактические запасы (сред.) для 2 региона: ", fact_mean_LR_Reg2)
print("Фактические запасы (сред.) для 3 региона: ", fact_mean_LR_Reg3)

Фактические запасы (сред.) для 1 региона:  92.55801454305207
Фактические запасы (сред.) для 2 региона:  68.85820641759086
Фактические запасы (сред.) для 3 региона:  94.9496669760935

In [28]:
# Расчет RMSE модели каждого региона
rmse_LR_Reg1 = mse_LR_Reg1 ** 0.5
rmse_LR_Reg2 = mse_LR_Reg2 ** 0.5
rmse_LR_Reg3 = mse_LR_Reg3 ** 0.5
print("RMSE 1 региона:", rmse_LR_Reg1)
print("RMSE 2 региона:", rmse_LR_Reg2)
print("RMSE 3 региона:", rmse_LR_Reg3)

RMSE 1 региона: 37.75660035026169
RMSE 2 региона: 0.8902801001028833
RMSE 3 региона: 40.14587231134218

In [29]:
# Оформим результаты 1 региона в таблицу
models_Reg1 = pd.DataFrame({'model':['LinearRegression'],
                          'Предсказанные запасы':[pred_mean_LR_Reg1], 
                          'Фактические запасы':[fact_mean_LR_Reg1],
                         'RMSE':[rmse_LR_Reg1]}) 
models_Reg1

              model  Предсказанные запасы  Фактические запасы     RMSE
0  LinearRegression               92.3988           92.558015  37.7566

In [30]:
# Оформим результаты 2 региона в таблицу
models_Reg2 = pd.DataFrame({'model':['LinearRegression'],
                          'Предсказанные запасы':[pred_mean_LR_Reg2], 
                          'Фактические запасы':[fact_mean_LR_Reg2],
                         'RMSE':[rmse_LR_Reg2]}) 
models_Reg2

              model  Предсказанные запасы  Фактические запасы     RMSE
0  LinearRegression             68.712878           68.858206  0.89028

In [31]:
# Оформим результаты 3 региона в таблицу
models_Reg3 = pd.DataFrame({'model':['LinearRegression'],
                          'Предсказанные запасы':[pred_mean_LR_Reg3], 
                          'Фактические запасы':[fact_mean_LR_Reg3],
                         'RMSE':[rmse_LR_Reg3]}) 
models_Reg3

              model  Предсказанные запасы  Фактические запасы       RMSE
0  LinearRegression             94.771024           94.949667  40.145872

#### Вывод 
1. Для модели "Линейная регрессия" предсказание модели средних значений совпадает с фактическими средними запасами.
2. Больше всего предсказанных и фактических запасов во третьем регионе (предсказанные и фактические)
3. Значение RMSE во втором регионе, по сравнению с первым и третьим регионом, минимально и равно 0,89.

# 3. Подготовка к расчёту прибыли

In [32]:
#Себестоимость разработки 1 скважины в каждом регионе = 10 млрд / 200 точек.
cost_price = 10000000000/200

In [33]:
# Расчет достаточного объема сырья для безубыточной разработки новой скважины
sufficient_volume = cost_price/450000
print(sufficient_volume)

111.11111111111111

In [34]:
# Расчет средних запасов сырья в каждом из трех регионов
print(data_region1['product'].mean())
print(data_region2['product'].mean())
print(data_region3['product'].mean())

92.50000000000001
68.82500000000002
95.00000000000004

#### Вывод
1. Себестоимость разработки 1 скважины - 50 млн. рублей.
2. Наибольшее среднее количество сырья в 3 регионе.
3. Достаточный объем сырья для безубыточной разработки новой скважины - 111,11 тыс. баррелей

# 4. Расчёт прибыли и рисков

In [35]:
# расчет функции для расчета прибыли 
# target — реальные значения;
# probabilities - предсказанные значения;
# count - количество скважин
# 450000 - стоимость одной единицы продукта.
def revenue(target, probabilities, count):
    probs_sorted = probabilities.sort_values(ascending=False)
    selected = target[probs_sorted.index][:count]
    return (450000 * selected.sum() - cost_price*200)

In [36]:
# Создание объекта RandomState() из модуля numpy.random
from numpy.random import RandomState
state = np.random.RandomState(12345)

In [ ]:
# Расчет прибыли, доверительного интервала и рисков для региона
def revenue_region(reg, target_Valid_Reg, valid_predictions_LR_Reg):
    values = []
    count_negative = 0

    index_reg = target_Valid_Reg.index
    valid_predictions_LR_Reg_series = pd.Series(valid_predictions_LR_Reg,index = index_reg)
    for i in range(1000):
        target_subsample = target_Valid_Reg.sample(n=500, replace=True, random_state=state)
        probs_subsample = valid_predictions_LR_Reg_series[target_subsample.index]
    
        revenue_rez = revenue(target_subsample,probs_subsample,200)
        values.append(revenue_rez)
        if revenue_rez<0:
            count_negative = count_negative + 1

    values = pd.Series(values)
    lower = values.quantile(0.025)
    upper = values.quantile(0.975)

    mean = values.mean()
    print("Данные по региону:", reg)
    print("Средняя выручка:", mean)
    print("Начало доверительного интервала:", lower)
    print("Окончание доверительного интервала:", upper)
    print("Доля отрицательных:", (count_negative/1000)*100)
    print(" ")
    return 

revenue_region(1, target_Valid_Reg1, valid_predictions_LR_Reg1)
revenue_region(2, target_Valid_Reg2, valid_predictions_LR_Reg2)
revenue_region(3, target_Valid_Reg3, valid_predictions_LR_Reg3)

#### Вывод
1. В 1 и 3 регионах доля убытков составляет более 2,5%:
    + 6,1%  в 1 регионе;
    + 7% в 3 регионе.
2. Во втором регионе доля убытков составила 1%. 
3. Средняя выручка в регионах составила:
    + 435,9 млн. руб;
    + 498,6 млн. руб;
    + 412,7 млн. руб.
---